:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* conteiner position */
.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*css for index.html*/
.page-header {
  background-color: #ffffff;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 85px;
}
.logo-web {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}
.site-nav .link {
  color: var(--primery-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-nav .item + .item {
  margin-left: 30px;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: #2f303a;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-button {
  justify-content: center;
  align-items: center;
}
.hero-button {
  padding: 10px 32px;
  margin-bottom: 200px;
  min-width: 200px;
  min-height: 50px;

  border: 1px solid transparent;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.team-section .team-leader {
  background-color: #f5f4fa;
}
.team-section .section-title {
  background-color: #f5f4fa;
}
.section-title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section-team {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.advantages {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages .advantages-item + .advantages-item {
  margin-left: 30px;
}
.advantages-img {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.advantages-item .advantages-img + .advantages-img {
  margin-left: 30px;
}
.advantages-item {
  /* background-color: #f5f4fa; */
  border: 1px solid transparent;
  border-radius: 4px;
  width: 270px;
}
.advantages .advantages-title {
  color: var(--primery-text-color);
}
.advantages .title-text {
  color: var(--title-text-color);
  font-weight: 400;
  line-height: 1.71;
}
.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.title-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.applications .applications-title {
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.applications {
  display: flex;
  border: 1px solid transparent;
}
.applications-item {
  width: calc ((100% - 60px)/3);
  margin-right: 30px;
}
.applications-item:last-child {
  margin-right: 0px;
}
.team-leader > li {
  background-color: #ffffff;
}
.team-leader {
  display: flex;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 94px;
  margin-bottom: 50px;
}
.team-leader-block {
  width: calc ((100% - 90px)/4);
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-leader-block:last-child {
  margin-right: 0px;
}
.team-title {
  color: var(--primery-text-color);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}
.proffesion {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}
.social {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 24px;
}
.social .social-link:hover,
.social .social-link:focus {
  color: var(--accent-color);
}
.clients-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-list-item:hover,
.clients-list-item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.page-footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  margin-right: 69px;
}
.join-social {
  margin: 0px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.footer-social {
  display: block;
}
.footer-social-link {
  display: inline-flex;
}
.mailing {
  display: block;
  margin-left: auto;
  text-transform: uppercase;
}
.logo-footer {
  color: #ffffff;
  margin: 0px;
}
.page-footer .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social .social-link:hover,
.footer-social .social-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.footer-button {
  display: inline-block;
  padding: 10px 32px;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border: 1px solid transparent;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*css for portfolio.html*/
.page-content .button:hover,
.page-content .button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  padding: 6px 22px;
  height: 38px;
  text-align: center;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  margin-right: 8px;
}
/* .list-button.button:last-child {
  margin-right: 0px;
} */
/* .list .list-item {
  width: 370px;
} */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  width: calc ((100% - 60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-item:nth-child(3n) {
  margin-right: 0px;
}
.list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-title {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 24px 4px 24px;
  padding: 0px;
}
.project-section {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0px 24px 20px 24px;
  padding: 0px;
}
.project-text {
  color: #ffffff;
  background-color: var(--accent-color);
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin-bottom: 20px;
}
